<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/areatest/jquery-1.12.4.min.js"></script>
    <script>

        $(function(){
            //页面加载完成时同时将省信息加载出来，而市县的信息则等选择省之后再进行加载
            pro=$('#pro');
            //查询省信息
            $.get('/areatest/pro/', function(dict){
                $.each(dict.data, function(index, item){
                    pro.append('<option value="'+item[0]+'">'+item[1]+'</option>');
                });
            });
            //查询省信息
            $('#pro').change(function(){
                $.get('/areatest/city/'+$(this).val() + '/',function(dict){
                    city=$('#city');
                    city.empty().append('<option value="">请选择市</option>');
                    $('#dis').empty().append('<option value="">请选择区县</option>')
                    $.each(dict.data,function(index,item){
                        city.append('<option value="'+item.id+'">'+item.atitle+'</option>');

                    });

                });
            });
            //查询区县信息
            $('#city').change(function(){
                dis=$('#dis');
                dis.empty().append('<option value="">请选择区县</option>');
                $.get('/areatest/dis/'+$(this).val()+'/',function(dict){
                    $.each(dict.data,function(index,item){
                        dis.append('<option value="'+item.id+'">'+item.atitle+'</option>');
                    });
                });
            });

        });

    </script>
</head>
<body>
<select id="pro">
    <option value="">请选择省</option>
</select>
<select id="city">
    <option value="">请选择市</option>
</select>
<select id="dis">
    <option value="">请选择区县</option>
</select>
</body>
</html>